<div ng-app="gemStore">
  <div class="list-group" ng-controller="StoreController as store" ng-init="store.index()">
    <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">- an Angular store -</h2>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <!-- Image Gallery  -->
      <product-gallery></product-gallery>

      <!-- Product Tabs -->
      <product-tabs></product-tabs>
    </div>

    <div class="list-group-item">
      <product-new></product-new>
    </div>
  </div>
</div>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js' %>
<%= javascript_include_tag 'application' %>
